*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.kotlin/
*.kotlin_metadata
*.kotlin_module

.gradle/
/.idea/
build/
captures/
.externalNativeBuild/
.cxx/

*.log
*.lock

*.apk
*.aab
output-metadata.json

*.hprof

*.jks
*.keystore
keystore.properties
signing.properties
